global
    log stdout format raw daemon
    maxconn 20000
    tune.bufsize 16384

defaults
    mode tcp
    timeout connect 5s
    timeout client  1m
    timeout server  1m

# frontend listens on 6000 and load balances to processor(s)
frontend iso_front
    bind *:6000
    default_backend iso_back

backend iso_back
    balance roundrobin
    # point to processor container(s)
    server proc1 processor:5000 check
    # add more servers here if you scale processor
    # server proc2 processor2:5000 check
